.accordion-container {
  max-width: 1600px;
  width: 100%;
}
.accordion-item {
  border-bottom: 1px solid #e2e2e2;
  transition: 0.5s ease;
}
.accordion-header {
  padding: 15px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 20px;
  text-align: left;
  outline: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
}
.accordion-content {
  display: none;
  padding: 15px;
}
.accordion-content p {
  font-size: 20px;
}
.accordion-item.active .accordion-content {
  display: block;
  background-color: #e2e2e2;
}
.icon-flecha.active{
  background-color: red;
  transform: rotateY(180deg);
}
