* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
 
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-top: 130px;
  background-image: url("../public/image/durlock-construccion-en-seco-home.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;



}

h1{
  font-family: 'Open Sans', sans-serif;
  font-display: swap;
}
a {
  text-decoration: none;
}

