* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  overflow: hidden;
}
body {
 background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-top: 130px;


}
section{
  background-image: url("../../img/image-fondo.jpg");
  border-image: fill 0 linear-gradient(rgba(25, 45, 48, 0.7), #000);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}

.scroll-reveal {
  width: 100%;
  
  opacity: 0;
  transform: translateX(80px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.scroll-reveal.visible {
  opacity: 1;
  transform: translateX(0);
}
