.home{
    width: 100%;
    height: 100vh;
    background-image: url("../public/image/pexels-max-rahubovskiy-6238608.jpg");
    background-position: inherit;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parrafo-bienvenido{
    width: 80%;
    color: #fff;
}
