/* En el mismo archivo o en un archivo CSS separado */
.container-button__whatsapp {
    width: 3em;
    height: 3em;
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin: 0 auto;
    background-color: #25d366;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #fff;
}
.whatsapp-button svg{
 
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 90%;
    
}