/***--Seccion Nosotros--***/

.container-text__nosotros {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .container-text__nosotros h1 {
    max-width: 100%;
    font-size: 45px;
    margin: 25px;
    text-align: center;
  }
  .container-text__nosotros h2 {
    width: 100%;
    font-size: 35px;
    
    padding: 10px;
  }
  .container-text__nosotros p {
    max-width: 1300px;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    letter-spacing: normal;
    font-style: italic;
    line-height: 1.5;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .container-text__nosotros p:hover {
    background-color: #e2e2e2;
  }
  
  .container-text__nosotros .button-informacion {
    margin-top: 30px;
    color: #6c7a72;
  }
  @media screen and (max-width: 560px) {
    .container-text__nosotros h1 {
      font-size: 35px;
    }
    .container-text__nosotros p {
      font-size: 25px;
      text-align: center;
    }
  }
  