/***--Seccion Nosotros--***/
.section-nosotros{
  width: 100%;
  max-width: 1500px;
 display: flex;
 flex-direction: column;
 justify-content: center;
align-items: center;
margin: 0 auto;
}
.section-nosotros h1 {
  max-width: 100%;
  font-size: 45px;
  margin: 25px;
  text-align: center;
}
.container-text__nosotros {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.container-text__nosotros img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}


.container-text__nosotros p {
  max-width: 1300px;
  font-size: 35px;
  height: 400px;
  text-align: center;
  padding: 10px;
  margin: 20px;
  letter-spacing: normal;
  font-style: italic;
  line-height: 1.5;
  
  
  transition: background-color 0.3s ease;
}

.container-text__nosotros p:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.container-text__nosotros .button-informacion {
  margin-top: 30px;
  color: #6c7a72;
}
.accordion-container{

  margin-bottom: 20px;
}

.accordion-container h2 {
  font-size: 35px;
  width: 100%;
  max-width: 1300px;
  text-align: left;
  padding: 20px;
}

@media screen and (max-width: 560px) {
  .container-text__nosotros {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:column;
  }
}

@media screen and (max-width: 560px) {
  .container-text__nosotros h1 {
    font-size: 35px;
  }
  .container-text__nosotros p {
    font-size: 25px;
    text-align: center;
  }
}
