/***--Seccion Nosotros--***/
.section-nosotros {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
}
.section-nosotros h1 {
  max-width: 100%;
  font-size: 45px;
  margin: 25px;
  text-align: center;
  padding-top: 20px;
}
.container-text__nosotros {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: justify;
  max-width: 1600px;

}
.container-text__nosotros img {
  max-width: 100%;
  height: 800px;
  border-radius: 8px;
  object-fit: cover;
  
}

.nosotros-text {
  text-align: center;
  padding: 20px;
  margin: 20px;
  letter-spacing: normal;
 
  line-height: 1.5;
  max-width: 600px;
  font-size: 22px;
}




.accordion-container {
  padding: 30px;
  margin-bottom: 20px;
}

.accordion-container h2 {
  font-size: 35px;
  width: 100%;
  max-width: 1300px;
  text-align: left;
  padding: 20px;
}

@media screen and (max-width: 1200px) {
  .container-text__nosotros {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media screen and (max-width: 560px) {
  .container-text__nosotros{
    flex-direction: column;
    justify-content: space-between;
  }
  .container-text__nosotros img{
    flex: 1;
    
  }
  .nosotros-text{
    flex: 2;
  }
}
