/**Seccion Productos**/
.container {
  border-image: fill 0 linear-gradient(rgba(25, 45, 48, 0.7), #000);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.producto h1 {
  text-align: center;
  font-size: 40px;
  margin: 40px;
  padding: 20px;
  color: #f1f1f1;
}

.productos-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-content: center;
  grid-gap: 30px;
  padding: 30px;
}
.productos-item img {
  object-fit: cover;
  width: 500px;
  height: 500px;
}
.productos-item {
  position: relative;
  top: 0;
  max-width: 500px;
  height: 500px;
  transition: transform 0.5s ease-in-out;
  box-shadow: 5px 5px 3px #bebebe;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 12px auto;
  overflow: hidden;
}

.productos-item::before,
.productos-item::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.548);
  z-index: 999999;
  cursor: pointer;
}

.productos-item::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.productos-item::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.productos-item:hover::before,
.productos-item:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
  z-index: 999999;
}

.productos-item:hover .content-card_product {
  width: 100%;
  position: absolute;
  top: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.productos-item h2 {
  display: none;
}
.productos-item:hover h2 {
  transition: all 0.5s ease-out;
  color: #ffffff;
  display: block;
  padding: 25px;
  font-size: 35px;
  z-index: 9999999;
}
.productos-item p {
  display: none;
}

.productos-item:hover p {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  padding: 25px;
  font-size: 25px;
  cursor: pointer;
  z-index: 9999999;
}

.productos-item .button-informacion {
  display: none;
}
.productos-item:hover .button-informacion {
  display: block;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 25px;
  z-index: 9999999;
}

.container-servicios {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-servicios h1 {
  padding: 30px;
  font-size: 45px;
  margin: 0 auto;
}
.container-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 15px;
}
.card-servicios {
  margin: 0 auto;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  border-radius: 2rem;
  flex-direction: column;
  text-align: center;
}
.container-servicios strong {
  width: 100%;
  margin-bottom: 50px;
  grid-column: span 4;
  text-align: center;
  color: #fff;
}

.card-servicios p {
  color: #fff;
  max-width: 500px;
  font-size: 1.1rem;
  margin: 2rem 0rem;
}

.card-servicios h2 {
  margin-top: 1.5rem;
  font-size: 25px;
  color: #fff;
}

.container-icons {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-servicios {
  width: 100px;
  height: 100px;
  color: #fff;
}

@media (max-width: 1120px) {
  .productos-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
    max-width: 100%;
  }
  .container-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .productos-item {
    width: 420px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .productos-item:hover h2 {
    font-size: 28px;
    padding: 10px;
    margin-left: 20px;
  }
  .productos-item:hover p {
    font-size: 20px;
    padding: 10px;
    margin-left: 20px;
  }

  .container-card {
    grid-template-columns: repeat(1, 1fr);
  }
  .container-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}

@media (max-width: 480px) {
  .productos-item {
    width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
  }
  .productos-item:hover h2 {
    font-size: 25px;
    padding: 10px;
  }
  .productos-item:hover p {
    font-size: 16px;
    padding: 10px;
  }
  .productos-item:hover .button-informacion {
    width: 70%;
    margin-left: 10px;
  }

  .container-card {
    grid-template-columns: repeat(1, 1fr);
  }
}
