/**--Estilos Home--**/
.home-container {
  height: 800px;
}

.home-banner-container {
  width: 100%;
  height: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: rgba(25, 45, 48, 0.801);
}

.home-text-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-banner-container h1 {
  width: 100%;
  font-size: 55px;
  color: #ffffff;
  padding: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home-banner-container h1 span {
  color: #178d27;
}
.home-text-section p {
  width: 100%;
  text-align: center;
  font-size: 1.8em;
  color: #fff;
  padding: 10px;
  margin: 20px;
}
.home-banner-container .button-informacion {
  margin: 10px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1290px) {
  .button-informacion {
    width: 35%;
  }
  .button-informacion svg {
    margin-left: 0.75rem;
    font-size: 1.3rem;
    display: none;
  }
}

@media screen and (max-width: 1110px) {
  .home-banner-container {
    padding: 0.5rem;
  }

  .button-informacion {
    width: 35%;
    font-size: 1rem;
  }
  .button-informacion svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .home-banner-container h1 {
    font-size: 45px;
  }
  .home-banner-container {
    padding: 0.5rem;
  }

  .home-text-section p {
    font-size: 1.5rem;
  }
  .home-banner-container .button-informacion {
    width: 50%;
    display: block;
  }
}
@media screen and (max-width: 560px) {
  .home-banner-container .button-informacion {
    width: 60%;
    display: block;
    font-size: .8em;
    line-height: 1.5;
  }
  .home-banner-container h1 {
    font-size: 2.0em;
    color: #ffffff;
    padding: 10px;
  }
  .home-banner-container h1 span {
    font-size: 1.8em;;
  }
  .home-text-section p {
    font-size: 1.1em;
    line-height: 1.3;
  }
}
