.container-servicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.container-servicios h1{
  grid-column: span 4;
}
.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-img img {
  width: 500px;
  height: auto;
  display: block;
  border-radius: 8px;
}